@import 'font-awesome';
@import 'bourbon';
@import 'neat';

body {
  margin: 0;
  border-radius: 4px;
  background: #ffffff;
  color: #444444;
}

hr {
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 0;
}

.optionBlock {
  height: 40px;
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}

select {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 5px;
  left: 0;
  background: #ffffff;
  font-size: 16px;
}

.fa {
  position: relative;
  top: -2px;
}

.container {
  width: 300px;
  height: 315px;

  .appBar {
    height: 40px;
    width: 100%;
    background-color: #34495e;
    line-height: 40px;
    color: white;

    .title {
      text-indent: 10px;
      font-size: 15px;
      @include span-columns(6);
    }

    .options {
      text-align: right;
      @include span-columns(6);
      padding: 10px;
    }
  }

  .content {
    padding: 10px;

    .half {
      @include span-columns(6);
    }

    .fourth {
      @include span-columns(3);
    }

    .thirds {
      @include span-columns(4);
    }

    hr {
      clear: both;
    }

    .url {
      padding: 10px;
      font-size: 18px;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #ddd;
      border-radius: none;
    }
  }
}
